[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[user]
	name = pjh4993
	email = pjh4993@naver.com
[credential]
	helper = cache --timeout=28800
